In [106]:
import itertools
import pandas as pd
import numpy as np

In [83]:
list_a = [1,2,3,4,5]
list_b = ['A','B','C']

In [84]:
list(itertools.islice(list_a,3))

[1, 2, 3]

In [85]:
list(itertools.islice(list_b,5))

['A', 'B', 'C']

In [86]:
list_c = list(itertools.zip_longest(list_a[::-1], list_b[::-1]))[::-1]

In [87]:
list_c

[(1, None), (2, None), (3, 'A'), (4, 'B'), (5, 'C')]

In [88]:
list_c_clean = [i for i in list_c if None not in i]

In [89]:
list_c_clean

[(3, 'A'), (4, 'B'), (5, 'C')]

In [90]:
lists = list(zip(*list_c_clean))

In [91]:
lists

[(3, 4, 5), ('A', 'B', 'C')]

In [92]:
a, b = lists

In [93]:
a

(3, 4, 5)

In [94]:
list(a)

[3, 4, 5]

In [95]:
df_sp = pd.read_csv("ETFSP500.PL_d.csv", index_col='Date', usecols=['Date','Close'])
df_sp

               Close
Date
2011-05-31   31.0171
2011-06-01   30.8024
2011-06-02   30.4535
2011-06-03   29.8635
2011-06-06   29.6802
...              ...
2023-03-21  179.1200
2023-03-22  179.7000
2023-03-23  177.5200
2023-03-24  177.3000
2023-03-27  179.2600

[2883 rows x 1 columns]

In [96]:
df_rfr = pd.read_csv("PLOPLN6M_d.csv", index_col='Date', usecols=['Date','Close'])
df_rfr

            Close
Date
1997-02-03  22.43
1997-02-04  22.55
1997-02-05  22.63
1997-02-06  22.50
1997-02-07  22.50
...           ...
2023-03-20   6.96
2023-03-21   6.96
2023-03-22   6.95
2023-03-23   6.95
2023-03-24   6.95

[6571 rows x 1 columns]

In [97]:
df_merged = df_sp.merge(df_rfr, left_index=True, right_index=True, suffixes=['_fund','_rfr'])

In [98]:
df_merged

            Close_fund  Close_rfr
Date
2011-05-31     31.0171       4.61
2011-06-01     30.8024       4.61
2011-06-02     30.4535       4.61
2011-06-03     29.8635       4.61
2011-06-06     29.6802       4.61
...                ...        ...
2023-03-20    179.0000       6.96
2023-03-21    179.1200       6.96
2023-03-22    179.7000       6.95
2023-03-23    177.5200       6.95
2023-03-24    177.3000       6.95

[2880 rows x 2 columns]

In [131]:
# df_merged_ret = df_merged.Close_fund.pct_change().dropna()
# xs_ret = df_merged_ret.pct_change() - df_merged.Close_rfr/(100*365)

df_merged_ret = np.diff(np.log(df_merged.Close_fund))
df_merged_rfr = df_merged.Close_rfr.to_numpy()/36500
xs_ret = df_merged_ret - df_merged_rfr[1:]

In [132]:
xs_ret.mean()/xs_ret.std()

0.045417076398189614

In [141]:
np.exp(.045)-1

0.04602785990871694

In [143]:
np.log(1.045)

0.04401688541677426